@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", "sans-serif";
  --font-inter: "Inter", "sans-serif";

  --color-primary: #00aeef;
  --color-secondary: #00f0e3;
  --color-black: rgb(29, 35, 37);
  --color-black75: rgba(29, 35, 37, 0.75);
  --color-black50: rgba(29, 35, 37, 0.5);
  --color-black25: rgba(29, 35, 37, 0.25);
  --color-black10: rgba(29, 35, 37, 0.1);
  --color-myGreen: rgb(0, 240, 148);
  --color-hover-blue: rgb(0, 24, 240);
  --color-third: rgb(0, 207, 233);

  --font-size-H1: 61px;
  --font-size-H2: 49px;
  --font-size-H3: 39px;
  --font-size-H4: 31px;
  --font-size-H5: 25px;
  --font-size-H6: 20px;
  --font-size-Paragraph: 16px;
}

@layer utilities {
  .no-arrows::-webkit-inner-spin-button,
  .no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-arrows {
    appearance: textfield;
    -moz-appearance: textfield;
  }
}
